
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
public/test.json
public/json_preview.json
public/json_preview_name.json
public/json_preview_wydzial.json
public/json_preview_worker.json
/public/json_preview_sorted_workers.json
/public/json_preview_Buildings.json
/public/json_preview_rooms_in_building.json
